<div class="navbar">
  <%= link_to "Home", restaurants_path %> | <%= link_to "Add new", new_restaurant_path %>
</div>
<h3>Restaurant details</h3>
<hr>
<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<hr>
<div>
  <h4>Current reviews</h4>
  <ul>
    <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> | <%= review.rating %></li>
    <% end %>
  </ul>
</div>
